.tableau {
    border: 1px solid black;
    height: 98vh;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.tableau img {
    max-height: 50vh;
    max-width: 80vh;
}